/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #fafafa, #d4e3fe);
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

/* Navbar */
.navbar {
  background: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

/* Hero Section */
.hero {
  
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  text-align: center;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

/* Features Section */
.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 2rem 0;
}

.feature-item {
  background: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  text-align: center;
}

.feature-item h4 {
  margin-bottom: 0.75rem;
}

/* Footer */
footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  margin-top: 1rem;
}

.content {
  padding: 16px;
}

@media (max-width: 768px) {
  .features {
    grid-template-columns: 1fr;
  }
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}
